Installing Necessary Packages

In [8]:
!pip install pyarrow
!pip install azure-storage-blob --user

Requirement already satisfied: pyarrow in c:\users\hp spectre\appdata\local\programs\python\python311\lib\site-packages (16.1.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\hp spectre\appdata\local\programs\python\python311\lib\site-packages (from pyarrow) (1.26.4)
Requirement already satisfied: azure-storage-blob in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (12.20.0)
Requirement already satisfied: azure-core>=1.28.0 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from azure-storage-blob) (1.30.2)
Requirement already satisfied: cryptography>=2.1.4 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from azure-storage-blob) (42.0.8)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from azure-storage-blob) (4.12.1)
Requirement already satisfied: isodate>=0.6.1 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from azure-storage-blob) (0.6.1)
Requirement already satisfied: requests>=2.21.0 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from azure-core>=1.28.0->azure-storage-blob) (2.32.3)
Requirement already satisfied: six>=1.11.0 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from azure-core>=1.28.0->azure-storage-blob) (1.16.0)
Requirement already satisfied: cffi>=1.12 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from cryptography>=2.1.4->azure-storage-blob) (1.16.0)
Requirement already satisfied: pycparser in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from cffi>=1.12->cryptography>=2.1.4->azure-storage-blob) (2.22)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from requests>=2.21.0->azure-core>=1.28.0->azure-storage-blob) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from requests>=2.21.0->azure-core>=1.28.0->azure-storage-blob) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from requests>=2.21.0->azure-core>=1.28.0->azure-storage-blob) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from requests>=2.21.0->azure-core>=1.28.0->azure-storage-blob) (2024.6.2)

In [9]:
!pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\hp spectre\appdata\local\programs\python\python311\lib\site-packages (1.0.1)

In [10]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp spectre\appdata\local\programs\python\python311\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\hp spectre\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp spectre\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp spectre\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

##### Import Libraries

In [11]:
import pandas as pd
import io
import os
from azure.storage.blob import BlobServiceClient, BlobClient
from dotenv import load_dotenv

In [12]:
# Extract file
ziko_df= pd.read_csv(r'C:\Users\HP SPECTRE\Documents\Data Journey\10Alytics\ETL_Orchestration\ziko_logistics_project\ziko_logistics\ziko_logistics_data.csv')

In [13]:
ziko_df.head()

,Transaction_ID,Date,Customer_ID,Product_ID,Quantity,Unit_Price,Total_Cost,Discount_Rate,Sales_Channel,Order_Priority,...,Return_Reason,Payment_Type,Taxable,Region,Country,Customer_Name,Customer_Phone,Customer_Email,Customer_Address,Product_List_Title
0,200,2020-01-01 20:32:25.945945945,1086,536,3,120.436821,8265.374549,0.20,Online,High,...,Wrong Item,Wire Transfer,False,West,Canada,Customer 200,+1-652-572-9306,customer.200.78@example.com,"275 Second St, Phoenix, USA",Product 53
1,321,2020-01-02 06:55:08.108108108,1078,523,6,475.724994,4047.850479,NaN,Reseller,Critical,...,Damaged,PayPal,True,South,Mexico,Customer 321,+1-311-186-5760,customer.321.13@sample.com,"478 Third St, New York, USA",Product 33
2,989,2020-01-06 08:12:58.378378378,1077,535,3,146.400556,NaN,0.05,Direct,Critical,...,Damaged,PayPal,True,West,Canada,Customer 989,+1-922-606-9032,customer.989.99@example.com,"843 Second St, Phoenix, USA",Product 6
3,682,2020-01-07 22:03:14.594594594,1027,546,6,19.373194,8194.281993,NaN,Reseller,Medium,...,Wrong Item,Cash,True,South,Canada,Customer 682,+1-237-853-5808,customer.682.66@demo.com,"153 Main St, Phoenix, USA",Product 68
4,484,2020-01-07 07:08:06.486486486,1052,556,8,193.221313,8331.329249,0.20,Direct,Low,...,Late,Cash,False,South,Mexico,Customer 484,+1-986-360-9109,customer.484.3@sample.com,"264 Second St, New York, USA",Product 89

In [14]:
ziko_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         1005 non-null   int64
 1   Date                   1005 non-null   object
 2   Customer_ID            1005 non-null   int64
 3   Product_ID             1005 non-null   int64
 4   Quantity               1005 non-null   int64
 5   Unit_Price             904 non-null    float64
 6   Total_Cost             905 non-null    float64
 7   Discount_Rate          714 non-null    float64
 8   Sales_Channel          1005 non-null   object
 9   Order_Priority         1005 non-null   object
 10  Warehouse_Code         1005 non-null   object
 11  Ship_Mode              1005 non-null   object
 12  Delivery_Status        1005 non-null   object
 13  Customer_Satisfaction  1005 non-null   object
 14  Item_Returned          1005 non-null   bool
 15  Return_Reason          904 non-null    object
 16  Payment_Type           1005 non-null   object
 17  Taxable                1005 non-null   bool
 18  Region                 1005 non-null   object
 19  Country                1005 non-null   object
 20  Customer_Name          1005 non-null   object
 21  Customer_Phone         1005 non-null   object
 22  Customer_Email         1005 non-null   object
 23  Customer_Address       1005 non-null   object
 24  Product_List_Title     1005 non-null   object
dtypes: bool(2), float64(3), int64(4), object(16)
memory usage: 182.7+ KB

In [15]:
ziko_df.columns

Index(['Transaction_ID', 'Date', 'Customer_ID', 'Product_ID', 'Quantity',
       'Unit_Price', 'Total_Cost', 'Discount_Rate', 'Sales_Channel',
       'Order_Priority', 'Warehouse_Code', 'Ship_Mode', 'Delivery_Status',
       'Customer_Satisfaction', 'Item_Returned', 'Return_Reason',
       'Payment_Type', 'Taxable', 'Region', 'Country', 'Customer_Name',
       'Customer_Phone', 'Customer_Email', 'Customer_Address',
       'Product_List_Title'],
      dtype='object')

In [19]:
#Correcting the date format
ziko_df['Date']=ziko_df['Date'].astype('datetime64[ns]')

In [18]:
ziko_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         1005 non-null   int64
 1   Date                   1005 non-null   object
 2   Customer_ID            1005 non-null   int64
 3   Product_ID             1005 non-null   int64
 4   Quantity               1005 non-null   int64
 5   Unit_Price             904 non-null    float64
 6   Total_Cost             905 non-null    float64
 7   Discount_Rate          714 non-null    float64
 8   Sales_Channel          1005 non-null   object
 9   Order_Priority         1005 non-null   object
 10  Warehouse_Code         1005 non-null   object
 11  Ship_Mode              1005 non-null   object
 12  Delivery_Status        1005 non-null   object
 13  Customer_Satisfaction  1005 non-null   object
 14  Item_Returned          1005 non-null   bool
 15  Return_Reason          904 non-null    object
 16  Payment_Type           1005 non-null   object
 17  Taxable                1005 non-null   bool
 18  Region                 1005 non-null   object
 19  Country                1005 non-null   object
 20  Customer_Name          1005 non-null   object
 21  Customer_Phone         1005 non-null   object
 22  Customer_Email         1005 non-null   object
 23  Customer_Address       1005 non-null   object
 24  Product_List_Title     1005 non-null   object
dtypes: bool(2), float64(3), int64(4), object(16)
memory usage: 182.7+ KB

##### Data Cleaning and Transformation

In [20]:
ziko_df.fillna({
                        'Unit_Price': ziko_df['Unit_Price'].mean(),
                        'Total_Cost': ziko_df['Total_Cost'].mean(),
                        'Discount_Rate': 0.0,
                        'Return_Reason': 'unknown'}, inplace=True)

In [21]:
#Customer Table
customer= ziko_df[['Customer_ID','Customer_Name', 'Customer_Phone', 'Customer_Email','Customer_Address']].copy().drop_duplicates().reset_index(drop=True)

In [22]:
#Product Table
product= ziko_df[['Product_ID', 'Product_List_Title', 'Quantity', 'Unit_Price', 'Discount_Rate']].copy().drop_duplicates().reset_index(drop=True)
product.head()

   Product_ID Product_List_Title  Quantity  Unit_Price  Discount_Rate
0         536         Product 53         3  120.436821           0.20
1         523         Product 33         6  475.724994           0.00
2         535          Product 6         3  146.400556           0.05
3         546         Product 68         6   19.373194           0.00
4         556         Product 89         8  193.221313           0.20

In [23]:
#Trasaction Fact table

transaction_fact= ziko_df.merge(customer, on= ['Customer_ID','Customer_Name', 'Customer_Phone', 'Customer_Email','Customer_Address'], how= 'left')\
                        .merge(product, on= ['Product_ID', 'Product_List_Title', 'Quantity', 'Unit_Price', 'Discount_Rate'], how='left')\
                        [['Transaction_ID', 'Customer_ID', 'Product_ID', 'Sales_Channel','Order_Priority', 'Warehouse_Code', 'Ship_Mode', 'Delivery_Status',
                          'Customer_Satisfaction', 'Item_Returned', 'Return_Reason','Payment_Type', 'Taxable', 'Region', 'Country',]]

transaction_fact.head()

,Transaction_ID,Customer_ID,Product_ID,Sales_Channel,Order_Priority,Warehouse_Code,Ship_Mode,Delivery_Status,Customer_Satisfaction,Item_Returned,Return_Reason,Payment_Type,Taxable,Region,Country
0,200,1086,536,Online,High,WH-3,2-Day,Cancelled,Neutral,False,Wrong Item,Wire Transfer,False,West,Canada
1,321,1078,523,Reseller,Critical,WH-1,Overnight,Backorder,Satisfied,True,Damaged,PayPal,True,South,Mexico
2,989,1077,535,Direct,Critical,WH-1,Overnight,Pending,Unsatisfied,True,Damaged,PayPal,True,West,Canada
3,682,1027,546,Reseller,Medium,WH-1,Express,Pending,Unsatisfied,False,Wrong Item,Cash,True,South,Canada
4,484,1052,556,Direct,Low,WH-2,2-Day,Delivered,Satisfied,True,Late,Cash,False,South,Mexico

In [24]:
#Load into csv files
customer.to_csv(r'datasets\customer.csv', index=False)
product.to_csv(r'datasets\product.csv')
transaction_fact.to_csv(r'datasets\transaction_fact.csv', index=False)

##### Data Loading and Azure Connection

In [25]:
#Data load
#Azure connection
load_dotenv()

connect_str= os.getenv('CONNECT_STR')
blob_service_client= BlobServiceClient.from_connection_string(connect_str)

container_name=os.getenv('CONTAINER_NAME')
container_client= blob_service_client.get_container_client(container_name)

In [26]:
# Create afunction that would load the data into azure blob storage as a parquet file

def upload_df_to_blob_as_parquet(df, container_client, blob_name):
    buffer = io.BytesIO()
    df.to_parquet(buffer, index=False)
    buffer.seek(0)
    blob_client= container_client.get_blob_client(blob_name)
    blob_client.upload_blob(buffer, blob_type= "BlockBlob", overwrite=True)
    print(f'{blob_name} uploaded to Blob storage sucessfully')

In [27]:
upload_df_to_blob_as_parquet(customer, container_client, 'rawdata/customer.parquet')
upload_df_to_blob_as_parquet(product, container_client, 'rawdata/product.parquet')
upload_df_to_blob_as_parquet(transaction_fact, container_client, 'rawdata/transaction_fact.parquet')

rawdata/customer.parquet uploaded to Blob storage sucessfully
rawdata/product.parquet uploaded to Blob storage sucessfully
rawdata/transaction_fact.parquet uploaded to Blob storage sucessfully